@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #2f2f2f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    color: #ffffff;
    background-color: var(--primary-text-color);
    padding: 10px 50px;
    border: 1px solid var(--primary-text-color);
    font-weight: 600;
  }

  .btn:hover {
    color: var(--primary-text-color);
    background-color: #ffffff;
    transition: all 0.2s ease;
  }

  .logo {
    text-shadow: 0px 1px 2px var(--secondary-text-color);
    cursor: default;
  }

  .line {
    min-width: 100vw;
    border: 1px solid #000;
    opacity: 0.3;
  }

  .categories li {
    cursor: pointer;
    color: var(--primary-text-color);
  }

  .categories li:hover {
    color: var(--secondary-text-color);
    font-weight: 700;
    transition: all 0.3s ease;
  }
}
